{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      },
    ],
    "react/jsx-filename-extension": [
      "warn",
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "no-unused-vars": "warn",
    "max-len": [
      "error",
      {
        "ignoreUrls": true
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["webpack.*.js", "test/**/*.js"]
      }
    ],
    "import/prefer-default-export": 0,
    "import/no-default-export": 1,
    "import/no-named-default": 0,
    "react/jsx-no-bind": false
  },
  "plugins": ["@typescript-eslint", "import"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
