// this is depricated unused file
@import '../../node_modules/bulma-stylus/bulma.styl'
@import './customBulma/spacing'
@import './customBulma/tag.styl'

.device-table
  @extend .table
  span
    @extend .tag, .mr-3
  th
    background-color: aliceblue